.bar {
    background-color: #fff;
    width: 100%;
    height: 40px;
    z-index: 888;
    padding-top: 6px;
    -webkit-transition: background-color 0.2s;
}

.searchBox {
    border-radius: 3px;
    margin-top: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    background-color: white;
    height: 32px;
    width: calc(100% - 224px);
    margin-left: 16px;
    -webkit-transition: background-color 0.2s;
    float: left;
}

.webview {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.searchInput {
    background-color: transparent;
    border: none;
    color: #444;
    margin-left: 8px;
    width: calc(100% - 16px);
    height: calc(100% - 10px);
    outline: none;
}

.suggestions {
    top: 0;
    position: absolute;
    width: 100%;
    height: auto;
    max-height: 245px;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    overflow: hidden;
}

.suggestions-ul {
    font-size: 16px;
    padding-left: 0;
    overflow: hidden;
    position: relative;
    height: inherit;
}

.suggestions-ul> li {
  max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 10px;
    padding-bottom: 8px;
    padding-left: 64px;
    padding-right: 64px;
}

.suggestions-ul> li:hover {

}

.selected {
    background-color: #BDBDBD;
}

.backBtn {
    opacity: 0.6;
    height: 38px;
    width: 38px;
    margin-left: 4px;
    float: left;
}

.backBtnIcon {
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    margin: 8px;
    background-image: url('../img/back.png');
    background-size: cover;
}

.backBtn:hover {
    opacity: 1;
}

.forwardBtn {
    opacity: 0.6;
    height: 38px;
    width: 38px;
    margin-left: 4px;
    float: left;
}

.forwardBtnIcon {
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    margin: 8px;
    background-image: url('../img/forward.png');
    background-size: cover;
}

.forwardBtn:hover {
    opacity: 1;
}

.refreshBtn {
    opacity: 0.6;
    height: 38px;
    width: 38px;
    margin-left: 4px;
    float: left;
}

.refreshBtnIcon {
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    margin: 8px;
    background-image: url('../img/refresh.png');
    background-size: cover;
}

.refreshBtn:hover {
    opacity: 1;
}

.menuBtn {
    opacity: 0.6;
    height: 38px;
    width: 38px;
    margin-left: 4px;
    float: left;
}

.menuBtnIcon {
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    margin: 8px;
    background-image: url('../img/menu.png');
    background-size: cover;
}

.menuBtn:hover {
    opacity: 1;
}

.extBtn {
    opacity: 0.6;
    height: 38px;
    width: 38px;
    margin-top: 0px;
    margin-left: 2px;
    float: right;
}

.extBtnIcon {
  width: calc(100% - 16px);
  height: calc(100% - 16px);
  margin: 8px;
background-image: url('../img/more-vert.png');
background-size: cover;
}
