.tabbar {
  font-family: Roboto;
  height: 32px;
  width: calc(100% - 96px);
  position:relative;
  white-space: nowrap;
  overflow:hidden;
  -webkit-user-select: none;
  cursor: default;
}
.titlebar {
  background-color: #E0E0E0;
  height: 32px;
  width: 100%;
  -webkit-app-region: drag
}
.favicon {
  background-size: cover;
  width:16px;
  height:16px;
  margin-top: 7px;
  margin-left: 7px;
}
.tabTitle {
  float:left;
  font-size: 14px;
  font-family: Roboto-Light;
  font-weight: 300;
  margin-top: 8px;
  margin-left: 30px;
  color: #444;
  max-width: 60%;
  overflow:hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
}
.tab {
  width: 170px;
  height: 32px;
  background-color: #fff;
  position:absolute;
  top: -32px;
  -webkit-app-region: no-drag;
  -webkit-transition: background-color 0.2s;
}
.tab:hover {
  background-color: #fff;
  -webkit-transition: background-color 0.2s;
}
.closeBtn {
  float:right;
  height: 16px;
  width: 16px;
  margin-top: 9px;
  margin-right: 12px;
  font-family: Roboto;
  color: #444;
}
.closeBtnImg {
  opacity: 0.75;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  margin:1px;
  background-image: url('../img/close.png');
  background-size: cover;
}
.closeBtnImg:hover {
  opacity: 1;
}
.addTabBtn {
  opacity: 0.75;
  position:absolute;
  margin-left: 2px;
  margin-top: 2px;
  top:0;
  height:28px;
  width: 28px;
  -webkit-app-region: no-drag;
}
.addTabBtn:hover {
  opacity: 1;
}
.addTabImg {
  width: calc(100% - 16px);
  height: calc(100% - 16px);
  margin:8px;
  background-image: url('../img/add.png');
  background-size: cover;
}
.tabWindow {
  font-family: Roboto;
  color: #444;
}
.light {
  color: #444;
}
.dark {
  color: #fff;
}
